<a href="https://colab.research.google.com/github/sudipwisely/designPattern/blob/master/SingleTone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
class Borg:
  __shared_state = dict()
  def __init__(self):
    self.__dict__ = self.__shared_state
    self.state = "DefaultValue"
  def __str__(self):
    return self.state

In [32]:
obj1 = Borg()
obj1.state = "First value"
print(obj1)
print("********************")

obj2 = Borg()
obj2.state = "Second Value"
print(obj1)
print(obj2)
print("&&&&&&&&&&&&&&&&&&&&&&")

obj3 = Borg()
obj3.state = "Third Value"
print(obj1)
print(obj2)
print(obj3)

First value
********************
Second Value
Second Value
&&&&&&&&&&&&&&&&&&&&&&
Third Value
Third Value
Third Value